* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 400 14px/1 "PT Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.btn {
  padding: 16px 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.btn-default {
  background-color: white;
  box-shadow: 0px 4px 20px #0f064c;
  color: #0f064c;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
}

.container {
  max-width: 1114px;
  padding: 0 15px;
  margin: auto;
}

.inner-services-container {
  padding: 0;
}

.main-header-nav {
  margin-left: 66px;
  font-weight: 700;
  padding-left: 30px;
}

.main-header-nav {
  color: #fff;
}

.main-header-nav a + a,
.info-header-nav a + a {
  margin-left: 30px;
}

.info-header-nav {
  margin-left: auto;
  color: rgba(255, 255, 255, 0.8);
}

.inner {
  min-height: 910px;
  height: 100vh;
  padding-top: 106px;
  background: linear-gradient(89.79deg, #23196f 0.13%, #180d5b 99.88%);
}

.inner-call-to-action {
  max-width: 542px;
  position: relative;
}

.inner-call-to-action::after {
  position: absolute;
  top: -100px;
  right: -655px;
  content: "";
  width: 738px;
  height: 611px;
  background: url("../img/inner-bg.png") no-repeat;
  z-index: 0;
}

.inner-call-to-action-title {
  position: relative;
  margin-top: 55;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.29;
  color: white;
  z-index: 1;
}

.inner-call-to-action-description {
  margin-top: 20;
  margin-bottom: 55;
  width: 383px;
  line-height: 1.33;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.inner-call-to-action-description span {
  color: #36a7b9;
  font-weight: bold;
}

.test-your-email {
  display: inline-block;
}

.email-not-required {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 1.7;
}

.email-not-required span {
  margin-left: 14px;
}

.inner-services-wrap {
  margin-top: 95px;
  position: relative;
}

.inner-services-title {
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;
  max-width: 365px;
  margin-bottom: 30px;
}

.inner-services-list-item {
  width: 164px;
  height: 164px;
  background-color: rgba(15, 6, 76, 0.45);
  cursor: pointer;
}

.inner-services-list-item + .inner-services-list-item {
  margin-left: 10px;
}

.inner-services-list-item:hover {
  background-color: white;
}